# Write a Python programme to merge two excel file data to one file

In [1]:
import os
import pandas as pd
cwd = os.path.abspath('') 
files = os.listdir(cwd)

In [2]:
cwd

'C:\\Users\\Akshay Karadkar\\Task 5'

In [3]:
files

['.ipynb_checkpoints',
 '1Ckg.gif',
 '26Pc.gif',
 '2GU.gif',
 '4Mop.gif',
 '7Fk.gif',
 'BE Sem 5.pdf',
 'BE Sem 6.pdf',
 'BE Sem 7.pdf',
 'BE Sem 8.pdf',
 'BG_1.jpg',
 'BG_10.jpg',
 'BG_2.jpg',
 'BG_3.jpg',
 'BG_4.jpg',
 'BG_5.jpg',
 'BG_6.jpg',
 'BG_7.jpg',
 'BG_8.jpg',
 'BG_9.jpg',
 'Biryani.xlsx',
 'Books.xlsx',
 'Degree Certificate.pdf',
 'diamonds.csv',
 'DS_poster_1.png',
 'DS_poster_2.png',
 'DS_poster_3.png',
 'DS_poster_4.png',
 'DS_poster_5.png',
 'duplicates.csv',
 'Jio.png',
 'Jupyter_logo.png',
 'laptop.png',
 'Led-TV.xlsx',
 'Men.xlsx',
 'Mixer-Grinder-Juicer.xlsx',
 'NLP - Sentiment analysis.html',
 'NLP - Sentiment analysis.ipynb',
 'orders_2016-2020_Dataset.csv',
 'python-logo.png',
 'Python.png',
 'review_dataset.csv',
 'Sem 1.pdf',
 'Sem 2.pdf',
 'Sem 3.pdf',
 'Sem 4.pdf',
 'Smartphones.xlsx',
 'soft_toys.xlsx',
 'Tablets.xlsx',
 'total_sales.xlsx',
 'Tree-map drill down.pdf',
 'Untitled.ipynb',
 'WkJ.gif',
 'XaDe.gif',
 'Yml4.gif',
 'ZFye.gif',
 'ZHVa.gif']

In [4]:
df = pd.DataFrame()
for file in files:
     if file.endswith('.xlsx'):
         df = df.append(pd.read_excel(file), ignore_index=True) 
df.head()

,Unnamed: 0,Category,Sub-Category,Product_Name,Product Count,Unnamed: 0.1
0,0,Foods,Biryani,1KG Chicken Biryani (Chennai),1,NaN
1,1,Foods,Biryani,1 Bucket Chicken Biryani Party Pack 5kg (Chennai),1,NaN
2,2,Foods,Biryani,Quarter Chicken Biryani (Chennai),1,NaN
3,3,Foods,Biryani,Chicken Biriyani Combo Meal - 1/2 kg Biryani+1...,1,NaN
4,4,Foods,Biryani,Chicken Pakora-200Gm (Chennai),1,NaN

In [5]:
df.shape

(226, 6)

In [6]:
df.to_excel('total_sales.xlsx')

### Sort files in different folders

In [7]:
import glob
import shutil

In [8]:
extensions = {
    "jpg": "images",
    "png": "images",
    "gif": "gifs",
    "pdf": "pdf files",
    "xlsx": "excel files",
    "csv" : "excel files",
}

In [9]:
path = cwd
    # setting verbose to 1 (or True) will show all file moves
    # setting verbose to 0 (or False) will show basic necessary info
verbose = 0
for extension, folder_name in extensions.items():
    # get all the files matching the extension
    files = glob.glob(os.path.join(path, f"*.{extension}"))
    print(f"[*] Found {len(files)} files with {extension} extension")
    if not os.path.isdir(os.path.join(path, folder_name)) and files:
        # create the folder if it does not exist before
        print(f"[+] Making {folder_name} folder")
        os.mkdir(os.path.join(path, folder_name))
    for file in files:
        # for each file in that extension, move it to the correponding folder
        basename = os.path.basename(file)
        dst = os.path.join(path, folder_name, basename)
        if verbose:
            print(f"[*] Moving {file} to {dst}")
        shutil.move(file, dst)

[*] Found 10 files with jpg extension
[+] Making images folder
[*] Found 10 files with png extension
[*] Found 10 files with gif extension
[+] Making gifs folder
[*] Found 10 files with pdf extension
[+] Making pdf files folder
[*] Found 9 files with xlsx extension
[+] Making excel files folder
[*] Found 4 files with csv extension

## Write a python program to separate duplicate file

In [10]:
import pandas as pd

In [11]:
diamonds_data = pd.read_csv('diamonds.csv')

In [12]:
diamonds_data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [13]:
diamonds_data.shape

(53940, 10)

In [14]:
diamonds_duplicates = diamonds_data[diamonds_data.duplicated()]

In [15]:
diamonds_duplicates.shape

(146, 10)

In [16]:
diamonds_duplicates.head()

      carat    cut color clarity  depth  table  price     x     y     z
1005   0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1006   0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1007   0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1008   0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
2025   1.52   Good     E      I1   57.3   58.0   3105  7.53  7.42  4.28

In [17]:
diamonds_duplicates.sort_values('price')

       carat        cut color clarity  depth  table  price     x     y     z
47296   0.30       Good     J     VS1   63.4   57.0    394  4.23  4.26  2.69
31629   0.30      Ideal     H     SI1   62.2   57.0    450  4.27  4.28  2.66
31627   0.30      Ideal     H     SI1   62.2   57.0    450  4.26  4.29  2.66
38636   0.31  Very Good     H     VS2   63.0   57.0    489  4.32  4.34  2.73
43261   0.30  Very Good     J     VS1   63.4   57.0    506  4.26  4.23  2.69
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
26554   2.66       Good     H     SI2   63.8   57.0  16239  8.71  8.65  5.54
26608   2.54  Very Good     H     SI2   63.5   56.0  16353  8.68  8.65  5.50
27027   2.42    Premium     J     VS2   61.3   59.0  17168  8.61  8.58  5.27
27518   3.01       Good     I     SI2   63.9   60.0  18242  9.06  9.01  5.77
27516   3.01       Fair     I     SI2   65.8   56.0  18242  8.99  8.94  5.90

[146 rows x 10 columns]

In [18]:
diamonds_duplicates.to_csv('duplicates.csv')

## Write a python program to sorting file by keywords

In [19]:
import os

In [20]:
os.getcwd()

'C:\\Users\\Akshay Karadkar\\Task 5'

In [29]:
os.listdir('D:\Task 5-SubTask')

['BE Sem 5.pdf',
 'BE Sem 6.pdf',
 'BE Sem 7.pdf',
 'BE Sem 8.pdf',
 'NLP - Sentiment analysis.html',
 'NLP - Sentiment analysis.ipynb',
 'Sem 1.pdf',
 'Sem 2.pdf',
 'Sem 3.pdf',
 'Sem 4.pdf']

In [30]:
import os.path

In [31]:
folder_path = 'D:\Task 5-SubTask'

files = [f for f in os.listdir(folder_path)]
for file in files:
    subfolder_name = file.split(' ')[0]
    
    new_path = os.path.join(folder_path, subfolder_name)
    if not os.path.exists(new_path):
        os.makedirs(new_path)
        
    old_file_path = os.path.join(folder_path, file)
    new_file_path = os.path.join(new_path, file)
    shutil.move(old_file_path, new_file_path)

In [35]:
os.listdir('D:\Task 5-SubTask')

['BE', 'NLP', 'Sem']

In [37]:
os.listdir('D:\\Task 5-SubTask\\NLP')

['NLP - Sentiment analysis.html', 'NLP - Sentiment analysis.ipynb']

In [38]:
os.listdir('D:\\Task 5-SubTask\\SEM')

['Sem 1.pdf', 'Sem 2.pdf', 'Sem 3.pdf', 'Sem 4.pdf']